@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Roboto:wght@100..900&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #102840;
  text-align: center;
  line-height: 1.25;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  position: relative;
}

.section__title {
  position: relative;
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  z-index: 2;
  margin-bottom: 36px;
}

.container {
  padding: 50px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.text--green {
  color: #2c6e49;
}

.text--yellow {
  color: #f2c14e;
}

.text--coral {
  color: #f67280;
}

.text--blue {
  color: #4a8fe7;
}

section:nth-child(even) {
  background-color: #e0f2e9;
}