@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Roboto:wght@100..900&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #012951;
  text-align: center;
  line-height: 1.25;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px;
  color: #012951;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  position: relative;
}

.section__title {
  position: relative;
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  z-index: 2;
  margin-bottom: 36px;
}

.container {
  padding: 50px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

body {
  background-color: lightblue;
}

/* 

Logo

*/

.logo__wrapper {
  text-align: center;
  margin-top: 24px;
}

.logo {
  width: 200px;
  cursor: pointer;
}

/* 

Description

*/

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.para__wrapper {
  width: 50%;
  text-align: center;
  font-weight: bold;
}

.section__para {
  position: relative;
  z-index: 3;
}

/* 

Pictues

*/

#images {
  margin-top: -50px;
}

.images__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img__wrap {
  width: 500px;
  margin: 16px;
}

.img {
  border-radius: 30px;
  width: 100%;
  box-shadow: 10px 10px 20px rgb(114, 173, 193);
}

/* 

Book Button

*/

#book {
  margin-top: -50px;
}

button {
  cursor: pointer;
}

.btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: none;
  border-radius: 30px;
  padding: 24px;
  box-shadow: 5px 5px 20px rgb(137, 188, 205);
  font-weight: bold;
  color: #012951;
}

.btn:hover {
  background-color: #093b7c;
  color: #bfdbff;
  transition: all 300ms ease;
}

/* 

Amapola

*/

img {
  max-width: 100%;
  height: auto;
  transition: all 0.2s linear;
}

.amapola__1 {
  position: absolute;
  width: 700px;
  top: -10vh;
  left: -40vh;
  rotate: 40deg;
  z-index: 2;
}

.amapola__2 {
  position: absolute;
  width: 500px;
  top: 60vh;
  left: 120vh;
  rotate: 250deg;
  z-index: 2;
}

.amapola__3 {
  position: absolute;
  width: 300px;
  top: 10vh;
  left: 150vh;
  rotate: 150deg;
  z-index: 2;
}

.amapola__4 {
  position: absolute;
  width: 250px;
  top: 160vh;
  left: 75vh;
  rotate: 300deg;
  z-index: 2;
}

.leaf__1 {
  position: absolute;
  width: 220px;
  top: 165vh;
  left: 65vh;
  rotate: 250deg;
  z-index: 1;
}

.leaf__2 {
  position: absolute;
  width: 220px;
  top: 155vh;
  left: 70vh;
  rotate: 290deg;
  z-index: 1;
}

.leaf__3 {
  position: absolute;
  top: -10vh;
  left: -70vh;
  rotate: 30deg;
  z-index: 1;
}

.leaf__4 {
  position: absolute;
  width: 500px;
  top: 40vh;
  left: 120vh;
  rotate: 310deg;
  z-index: 1;
}

/*

@media

*/

@media screen and (max-width: 1080px) {
  .amapola__1 {
    position: absolute;
    width: 500px;
    top: 40vh;
    left: -10vh;
    rotate: 40deg;
    z-index: 2;
  }

  .leaf__3 {
    position: absolute;
    width: 500px;
    top: 60vh;
    left: -5vh;
    rotate: 130deg;
    z-index: 1;
  }

  .amapola__2 {
    position: absolute;
    width: 500px;
    top: 90vh;
    left: 90vh;
    rotate: 250deg;
    z-index: 2;
  }

  .leaf__4 {
    position: absolute;
    width: 500px;
    top: 80vh;
    left: 90vh;
    rotate: 310deg;
    z-index: 1;
  }

  .amapola__3 {
    position: absolute;
    width: 400px;
    top: 200vh;
    left: 20vh;
    rotate: 150deg;
    z-index: 1;
  }

  .amapola__4 {
    position: absolute;
    width: 250px;
    top: 160vh;
    left: 75vh;
    rotate: 300deg;
    z-index: 2;
  }

  .leaf__1 {
    position: absolute;
    width: 220px;
    top: 165vh;
    left: 65vh;
    rotate: 250deg;
    z-index: 1;
  }

  .leaf__2 {
    position: absolute;
    width: 220px;
    top: 155vh;
    left: 70vh;
    rotate: 290deg;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .amapola__1 {
    position: absolute;
    width: 500px;
    top: 50vh;
    left: -20vh;
    rotate: 40deg;
    z-index: 2;
  }

  .leaf__3 {
    position: absolute;
    width: 500px;
    top: 60vh;
    left: -25vh;
    rotate: 130deg;
    z-index: 1;
  }

  .amapola__2 {
    position: absolute;
    width: 500px;
    top: 90vh;
    left: 60vh;
    rotate: 250deg;
    z-index: 2;
  }

  .leaf__4 {
    position: absolute;
    width: 500px;
    top: 80vh;
    left: 70vh;
    rotate: 310deg;
    z-index: 1;
  }

  .amapola__3 {
    position: absolute;
    width: 400px;
    top: 210vh;
    left: -20vh;
    rotate: 150deg;
    z-index: 1;
  }

  .amapola__4 {
    position: absolute;
    width: 250px;
    top: 170vh;
    left: 70vh;
    rotate: 300deg;
    z-index: 2;
  }

  .leaf__1 {
    position: absolute;
    width: 220px;
    top: 175vh;
    left: 65vh;
    rotate: 250deg;
    z-index: 1;
  }

  .leaf__2 {
    position: absolute;
    width: 220px;
    top: 165vh;
    left: 70vh;
    rotate: 290deg;
    z-index: 1;
  }
}

@media screen and (max-width: 414px) {
  .amapola__1 {
    position: absolute;
    width: 500px;
    top: 50vh;
    left: -30vh;
    rotate: 40deg;
    z-index: 2;
  }

  .leaf__3 {
    position: absolute;
    width: 500px;
    top: 60vh;
    left: -25vh;
    rotate: 130deg;
    z-index: 1;
  }

  .amapola__2 {
    position: absolute;
    width: 500px;
    top: 90vh;
    left: 35vh;
    rotate: 250deg;
    z-index: 2;
  }

  .leaf__4 {
    position: absolute;
    width: 500px;
    top: 80vh;
    left: 35vh;
    rotate: 310deg;
    z-index: 1;
  }

  .amapola__3 {
    position: absolute;
    width: 400px;
    top: 210vh;
    left: -35vh;
    rotate: 150deg;
    z-index: 1;
  }

  .amapola__4 {
    position: absolute;
    width: 250px;
    top: 170vh;
    left: 30vh;
    rotate: 300deg;
    z-index: 2;
  }

  .leaf__2 {
    position: absolute;
    width: 220px;
    top: 165vh;
    left:35vh;
    rotate: 340deg;
    z-index: 1;
  }
}
